@import 'range-slider-sass';
$thumb-color: #fff;
$thumb-radius: 100%;
$thumb-height: 15px;
$thumb-width: 15px;
$track-color: #888;

input[type=range] {
  @include input-type-range();
}

* { margin: 0; padding: 0; list-style: none; }

html {
  color: #333;
  font-size: 100%;
}

html, body, .container {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

body, select, input, button {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
}

select, input, button {
  font-size: 1em;
  background: white;
  border: 1px solid #33333360;
  border-radius: 0.25rem;
  appearance: none;
}

select {
  padding: 0 2.25rem 0 0.75rem;
  background: url('/img/select-arrow.svg') right no-repeat;
}

p:not(:first-child) { margin-top: 0.75rem; }

p.form-line span:not(:first-child) {
  padding: 0 0.25rem;
}

header {
  display: flex;
  align-items: center;

  >* {
    flex-basis: 33.3%;
    text-align: center;
  }

  .logo {
    text-align: right;
    padding: 0;
    >img {
      height: 2rem;
      vertical-align: middle;
    }
  }

  h1 {
    text-align: left;
    font-weight: 300;
    font-size: 1.5rem;
    >img {
      height: 2rem;
      position: relative;
      padding-right: 0.5rem;
      top: 0.55rem;
      margin-top: -0.5rem;
    }
  }

  >select {
    position: relative;
    top: -0.2rem;
  }

  padding: 1rem;
  box-shadow: 0 0 4px #0008;
}

.single-view {
  flex-grow: 1;
  display: flex;
  position: relative;
  min-height: 0;

  .zoom {
    position: absolute;
    bottom: 0;
    right: 0;

    >label {
      width: 60px;
      height: 153px;
      display: block;
      background: #222c;

      span, input { display: block; }
      span {
        color: white;
        text-align: center;
        padding: 8px;
        pointer-events: none;
        user-select: none;

        &.bottom {
          position: relative;
          top: 57px;
        }
      }

      input {
        transform: rotate(-90deg) translate(-31px, -11px);
        width: 80px;
      }
    }
  }
}

.container canvas {
  width: 100%;
}

footer {
  padding: 1.5rem;

  input[type=range] { width: 100% }
}

.horizontal-chart {
  height: 15rem;
  display: flex;
}

.time-series {
  flex: 0 0 100%;
  overflow: visible;
  line { stroke: #333; stroke-width: 1px; }
  .tick {
    * { pointer-events: none; user-select: none }
    text { fill: #777; }
    line { stroke: #aaa; }

    &.y-tick {
      text { text-anchor: end; }
    }

    &.x-tick {
      line { stroke: #ddd; }
      text { text-anchor: start; transform: rotate(-45deg); }
      rect.divider { fill: #fff; }
    }
  }

  .brush polygon {
    transition: transform 0.15s; transform: scale(0.8);
  }

  &:hover .brush polygon { transform: scale(1); }

  .brush {
    text-anchor: middle;
    pointer-events: none;
    user-select: none;
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .progress-bar {
    width: 300px;
    height: 20px;
    overflow: visible;

    .progress-bar-background {
      fill: #eee;
      stroke: #eee;
      stroke-width: 5px;
    }

    .progress-bar-bar { fill: #56c; }

    text { text-anchor: middle; }
  }
}

.debug-image {
  float: left;
  width: 512px;
  height: 512px;
  margin-right: 10px;
  image-rendering: pixelated;
}
